# Ini adalah CONTOH file konfigurasi.
# Salin file ini menjadi .env dan isi dengan nilai yang sesuai.
# JANGAN PERNAH commit file .env ke repository Git Anda.

# Konfigurasi Server
PORT=8080

# Konfigurasi Database (Contoh untuk PostgreSQL)
# Format: postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
DATABASE_DSN="postgres://postgres:password@localhost:5432/go_auth_db?sslmode=disable"

# Konfigurasi JWT
# Ganti dengan string acak yang sangat kuat dan rahasia
JWT_SECRET="INI_ADALAH_RAHASIA_SUPER_AMAN_GANTI_SAYA_DENGAN_YANG_LAIN"
TOKEN_HOUR_LIFESPAN=24 # Token akan valid selama 24 jam