# --- Konfigurasi Backend (VPS 1) ---
PORT=8080

# Format DATABASE_URL: postgres://USER:PASSWORD@IP_VPS_2:5432/DB_NAME?sslmode=disable
# Contoh jika VPS 2 IP-nya 192.168.1.100:
DATABASE_URL=postgres://postgres:yolnDA2623*KingRovs771@202.155.18.29:5432/mentalhealth?sslmode=disable

# Format REDIS_URL: redis://:PASSWORD@IP_VPS_2:6379/0
# Contoh jika VPS 2 IP-nya 192.168.1.100:
REDIS_URL=redis://:yolnDA2623@202.155.18.29:6379/0

JWT_SECRET=yolnDA2623*KingRovs771
TOKEN_HOUR_LIFESPAN=128

# --- Konfigurasi DB & Redis (VPS 2) ---
# Environment variabel di bawah ini digunakan untuk inisialisasi pada VPS 2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_db_rahasia
POSTGRES_DB=skripsi_db

REDIS_PASSWORD=password_redis_rahasia
JWT_SECRET="secret"
TOKEN_HOUR_LIFESPAN=128